@import url("main.css");

.welcome-msg{
    text-align:center;
    background-color: #282828;
    padding-bottom: 5px;
}

.welcome-msg h2 {
    font-weight: 400;
}

.welcome-msg a {
    font-weight: 200;
    padding: 5px 10px;
    background-color: #343434;
    border-radius: 50px;
    font-size: 14px;
}

.welcome-msg a:active {
    background-color: #2C2B2B;
}

.dashboard-kosthold{
    height:200px;
    margin-top:10px;
    padding: 5px;
}

.dashboard-kosthold, .dagens-mal{
    text-align:center;
    background-color: #B04930;
}

.dagens-mal{
    margin-top:10px;
    display:inline-block;
    width:100%;
}
.left{
    margin-left:5px;
    float:left;
}
.right{
    margin-right:5px;
    float:right;
}

.settings{
    margin-top:50px;
    width:100%;
}
.settings-icon{
    background-color: #B04930;
    border-radius:50%;
    height:60px;
    width:60px;
    position: absolute;
    top: 22px;
    right: 10px;
}

.settings-icon img{
    padding-left:15px;
    padding-top:14px;
}



#undermeny ul li {
    padding: 10px 23px;
      width: 56px;
}



#undermeny ul li:nth-child(3) {
    border-right: 1px #963e29 solid;
}

a {
    color: white;
    text-decoration: none;
}

#container {
    position: relative;
    height: 83%;
    overflow-y: scroll;
}

.dashboard-kosthold h3, .dagens-mal h3 {
    font-size: 20px;
    font-weight: 200;
    color: #282828;
}

#mal-ul {
    text-align: left;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

#mal-ul li{
    padding: 10px 20px;
    color: #282828;

}



#mal-ul li:nth-child(odd) {
    background-color: #A54730;
}

.rightpos {
    float: right;
}

.add-btn {
    position: absolute;
    right: 20px;
    top: 358px;
}