@import url("main.css");

.welcome-msg{
    text-align:center;
    background-color: #282828;
    padding-bottom: 5px;
}

.welcome-msg h2 {
    font-weight: 400;
}

.welcome-msg a {
    font-weight: 200;
    padding: 5px 10px;
    background-color: #343434;
    border-radius: 50px;
    font-size: 14px;
}

.welcome-msg a:active {
    background-color: #2C2B2B;
}

.dashboard-kosthold{
    height:200px;
    margin-top:10px;
    padding: 5px;
}

.dashboard-kosthold, .dagens-mal{
    text-align:center;
    background-color: #B04930;
}

.dagens-mal{
    margin-top:10px;
    display:inline-block;
    width:100%;
    margin-bottom: 10px;
}
.left{
    margin-left:5px;
    float:left;
}
.right{
    margin-right:5px;
    float:right;
}
a {
    color: white;
    text-decoration: none;
}



.dashboard-kosthold h3, .dagens-mal h3 {
    font-size: 20px;
    font-weight: 200;
    color: white;
}

#mal-ul {
    text-align: left;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

#mal-ul li{
    padding: 10px 20px;
    color: white;
}



#mal-ul li:nth-child(odd) {
    background-color: #A54730;
}



.rightpos {
    float: right;
}

.add-btn {
    position: absolute;
    right: 20px;
    top: 358px;
}