@import url("main.css");

.input-section{
    background-color:#a34731;
    width:100%;
    height:100px;
}

.right{
    float:right;
}
.left{
    float:left;
}

.title-section{
    margin-top:20px;
}

.title-section p{
    margin-left:5px;
}

.title-section input{
    margin-top:15px;
    margin-right:5px;
    background-color:#a34731;
    border: solid 0px;
    color:white;
    text-align:right;
}
.title-section input:focus{
    border: solid 0px;
}


.date-section{
    margin-top:20px;
    border-bottom:2px solid white;
    clear:both;
}

.date-section p{
    margin-left:5px;
}

.date-section input{
    margin-top:15px;
    margin-right:5px;
    background-color:#a34731;
    border: solid 0px;
    color:white;
    text-align:right;
}
.date-section input:focus{
    border: solid 0px;
}
.btn{
    width:100%;
    text-align:center;
    position:absolute;
    bottom:60px;
    height:45px;
    background-color:#a34731;
}
.icon-section img{
    margin:auto;
    margin-top:20px;
    display:block;
}