@import url("main.css");

.kostholdmeny {

    width: 49.4%;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
    background-color: #414040;
}

.kostholdmeny p {
    position: relative;
    margin-top: 120px;
    padding: 20px 0;
    color: white;
}

.ku, .gris, .fisk, .kylling, .vegetar {
    background-repeat: no-repeat;
    background-position: 50%  60px;
}

.ku {
    background-image: url("../assets/ku.png");
}

.gris {
    background-image: url("../assets/gris.png");

}


.fisk {
    background-image: url("../assets/fisk.png");


}

.kylling {
    background-image: url("../assets/kylling.png");


}

.vegetar {
    background-image: url("../assets/vegetar.png");
}