@import url("main.css");

#profilePic2{
	margin: auto;
	display: block;
	margin-top: 0px;
	padding-top: 20px;
    height: 70px;
}

#profilePicSect p{
	color: white;
	text-align: center;
}

#profilePicSect{
	background-color: #a34731;
	clear: both;
	overflow: auto;
}


#profilePicSect div{
 	width: 33%;

 	float: left;
 	border-top: 1px solid #8b3d2a;

}

#profilePicSect div:nth-child(2n){

	border-left: solid 1px #8b3d2a;
	border-right: solid 1px #8b3d2a;
}

.menu-icon{

	margin:auto;
	display: block;
	padding-top: 20px;
	width: 40px;
	height: 40px;
}

#main-content{
	margin-top: 10px;
}

.header{
	height: 30px;
	background-color: #e65d3c;
	text-align: center;
	color: white;
}



table tr td{
	color: white;
	padding-left: 10px;
	border-bottom: 1px solid #e65d3c;
	height: 50px;
}

table{
	border-spacing: 0px;
}

#mineMaal tr td:nth-child(1){
	padding-right: 130px;
}

#mineMaal tr td:nth-child(2){
	padding-right: 25px;
}

#kosthold tr td:nth-child(1){
	padding-right: 250px;
}

#kosthold tr td:nth-child(2){
	padding-right: 25px;
}

h4{
	display: inline;
}

.header span{
	float: right;
	padding-right: 10px;
}







