@import url("main.css");

#profilePic2{
	margin: auto;
	display: block;
	margin-top: 0px;
	padding-top: 20px;
    height: 70px;
}

#profilePicSect p{
	color: white;
	text-align: center;
}

#profilePicSect{
	background-color: #a34731;
	clear: both;
	overflow: auto;
}


#profilePicSect div{
 	width: 33%;

 	float: left;
 	border-top: 1px solid #8b3d2a;

}


#profilePicSect div:nth-child(2n){

	border-left: solid 1px #8b3d2a;
	border-right: solid 1px #8b3d2a;
}

.menu-icon{

	margin:auto;
	display: block;
	padding-top: 20px;
	width: 40px;
	height: 40px;
}

#main-content{
	margin-top: 10px;
}

.header{
	height: 30px;
	background-color: #e65d3c;
	text-align: center;
	color: white;
}



table tr td{
	color: white;
	padding-left: 10px;
	border-bottom: 1px solid #e65d3c;
	height: 50px;
}

table{
	border-spacing: 0px;
}

#mineMaal tr td:nth-child(1){
	padding-right: 130px;
}

#mineMaal tr td:nth-child(2){
	padding-right: 25px;
}

#kosthold tr td:nth-child(1){
	padding-right: 250px;
}

#kosthold tr td:nth-child(2){
	padding-right: 25px;
}

h4{
	display: inline;
}

.header span{
	float: right;
	padding-right: 10px;
}

.dagens-mal{
    text-align:center;
    background-color: #B04930;
}

.dagens-mal{
    margin-top:10px;
    margin-bottom: 10px;
    display:inline-block;
    width:100%;
}

.dagens-mal h3 {
    font-size: 20px;
    font-weight: 200;
    color: white;
}


.add-btn {
    position: relative;
    right: -190px;
    top: 48px;
}

.float-right {
	float: right;
}


#mal-ul {
    text-align: left;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
}

#mal-ul li{
    padding: 10px 20px;
    color: white;
}



#mal-ul li:nth-child(odd) {
    background-color: #A54730;
}

#addmaal {
    position: absolute;
    z-index: 1000;
    height: 240px;
    width: 100%;
      background-color: #b04930;
    padding: 10px 20px;
    display: none;

}

#addmaal input {
    width: 389px;
    padding: 10px 5px;
    margin-bottom: 10px;
}

#maalbtn {
    text-transform: uppercase;
    width: 402px;
    text-align: center;
    padding: 1px;
    background-color: #6bd64a;
    border: 0px;
    height: 60px;

}

#maalbtn:active {
    background-color: #64c148;
}

#maalbtn p {
    color: black;
    }

#hendelser {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 0px;
    background-color: #6f2e1e;
    z-index:2000;
    padding: 5px 0px;
    text-align: center;
    display: none;
}

#confirmation{
    z-index: 2000;
    height: 150px;
    width: 81.1%;
    position: absolute;
    background-color: grey;
    padding: 20px 20px;
    margin-left: 20px;
    top: 200px;
    text-align: center;
    display: none;
}

#areyousure {

}

#yesbtn, #nobtn {
    width: 170px;
      height: 38px;
    background-color: #000;
    color: white;
    font-size: 10pt;
    border: none;
    margin-bottom: 10px;
}