@import url("main.css");

#container {
    position: relative;
    height: 91.1%;
    overflow-y: scroll;
}

body {
    color: white;
}

ul,h3 {
    margin-left: 15px;
}

.float-right {
    position: absolute;
    right: 10px;
    top: 210px;
}