@import url("main.css");

.ovelsemeny {
     width: 49%;

    display: block;
    float: left;
    margin-bottom: 5px;
    text-align: center;
    background-color: #414040;
    margin-right: 0px;
}

#meny:nth-child(odd) .ovelsemeny {
    margin-right: 1%;
}

.ovelsemeny p {
    position: relative;
    margin-top: 70%;
    padding: 20px 0;
    color: white;
}

.chest, .bein, .core, .cardio, .base,.back,.shoulder {
    background-repeat: no-repeat;
    background-position: 50%  60px;
}

.chest {
    background-image: url("../assets/chest.png");
}

.base {
    background-image: url("../assets/base.png");
}

.bein {
    background-image: url("../assets/leg.png");


}
.back {
    background-image: url("../assets/back.png");
}

.shoulder {
    background-image: url("../assets/shoulder.png");
}



.core {
    background-image: url("../assets/core.png");


}

.cardio {
    background-image: url("../assets/cardio.png");


}

