@import url("main.css");



.rating {
    clear: both;

}

.filled-star {

    background-image: url("../assets/filled_star.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:33px;
    height:33px;
    display: inline-block;

}

.notfilled-star {
    background-image: url("../assets/not_filled_star.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:33px;
    height:33px;
    display: inline-block;
}

.pt_button {
    width: 181px;
      height: 38px;
    background-color: #000;
    color: white;
    font-size: 10pt;
    border: none;
    display: block;
    margin-bottom: 10px;
}

.pt_pop_profil {
    display: inline-block;
}



.pt_pop_profil h3 {
    font-size: 1.7em;
    margin-bottom: 29px;
    margin-top: 0px;
}

.pt_pop_profil h4 {
    font-size: 18px;
    background-color: #bb4b31;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-left: 20px;
}

.pt_pop_profil img {
    float: left;
    margin-top: 10px;
    margin-bottom: 25px;
    height: 140px;

}

#info_right {
    float: right;
    margin-right: 5%;
}

.rating-right{
    float: right;
    margin-right: 5%;
}

.rating-left{
    float: left;
}
.rating-right p{
    margin:0px;
    padding:0px;
}