@import url("main.css");

#container {
    position: relative;
    height: 91.2%;
    width: 100%;
    overflow-y: scroll;
}
.pt_button {
    width: 181px;
      height: 38px;
    background-color: #000;
    color: white;
    font-size: 10pt;
    border: none;
    display: block;
    margin-bottom: 10px;
}

#info_right {
    float: right;
    margin-left: 55px;
    width: 200px;
}

#profil {
display: inline-block;
}

#profil img {
float: left;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 25px;

}

.rating {
    clear: both;
      margin-left: 15px;
      padding-bottom: 20px;

}

.filled-star {

    background-image: url("../assets/filled_star.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:33px;
    height:33px;
    display: inline-block;

}

.notfilled-star {
    background-image: url("../assets/not_filled_star.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:33px;
    height:33px;
    display: inline-block;
}
.rating-left{
    float:left;
    margin-right: 40px;
}

.rating-right p{
    margin:0px;
    padding:0px;

}

#profil_header {
    background-color: rgb(47, 47, 47);
    width: 102%;
}

#content {
    margin-left: 20px;
}

#bestillpt, #sendmelding {
    background-color: #b04930;
    height: 325px;
    width: 100%;
    position: absolute;
    top: 252px;
    padding: 0 20px;
    height: 66.2%;
    width: 100%;
    overflow-y: scroll;
    display: none;
}



#vissentersubmit,#sendbtn {
    text-transform: uppercase;
    width:90.1%;
    text-align: center;
    padding: 1px;
      background-color: #6bd64a;
      border: 0px;

}



#vissentersubmit:active,#sendbtn:active {
    background-color: #64c148;
}

#vissentersubmit p,#sendbtn p {
    color: black;
    }

    #sendbtn {
        margin-right: 0px;
    }

#inputboks {
    text-transform: uppercase;
    width:90.1%;
    text-align: center;
    padding: 1px;
      background-color: white;
      margin-bottom: 20px;
      border: 0px;


}

#hendelser {
    position: absolute;
    height: 40px;
    width: 100%;
    top: 60px;
    background-color: #6f2e1e;
    z-index:2000;
    padding: 5px 0px;
    text-align: center;
    display: none;
}

#sendmelding {
    top: 252px;

}

.boks-aktiv {
    border: 2px solid #73c547;
}

#inputboks p {
    display: inline-block;
    color: black;

}

input#number {

      height: 43px;
  width: 44px;
  position: relative;
  right: -120px;
}

.boks {
    display: inline-block;
    height: 130px;
    width: 29.5%;
    background-color: white;
    margin-bottom: 20px;
    text-align: center;

}

#send_txtarea {
   text-transform: uppercase;
    width:90.1%;

    padding: 1px;
      background-color: white;
      margin-bottom: 20px;
      border: 0px;
      height: 150px;
}

/*
Are you sure confirmation box
 */

#confirmation{
    height: 150px;
    width: 81.1%;
    position: absolute;
    background-color: grey;
    padding: 20px 20px;
    margin-left: 20px;
    top: 200px;
    text-align: center;
    display: none;
}

#areyousure {

}

#yesbtn, #nobtn {
    width: 170px;
      height: 38px;
    background-color: #000;
    color: white;
    font-size: 10pt;
    border: none;
    margin-bottom: 10px;
}