@import url("main.css");

#senter-resultat td{
  height: 80px;



}
#senter-resultat {
    width: 100%;
    border-spacing: 0px;
}

#senter-resultat tr:nth-child(even) {
    background: #77392a;
}

td p {
    margin: 0px;
}

