@import url("main.css");

#senter-resultat td{
  height: 80px;
  padding:0px;


}
#senter-resultat {
    width: 100%;
    border-spacing: 0px;
}

#senter-resultat tr:nth-child(even) {
    background: #77392a
}

td p {
    margin: 0px;
}

#senterbilde {
    display: block;
}

table>tr>td {
    font-size:12px;
}

td {
    color: white;
    font-size: 10px;
}

h5 {
    font-size: 20px;
    color: white;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
}

#logo {
    position: absolute;
    top: 140px;
    left:125px;
}



p {
    display: inline-block;
    margin: 0px;
    margin-bottom: 6px;
    margin-left: 5px;
    line-height: 30px;
}

.info {
    font-weight: 200;
}



.icon {
    position: relative;
    top: 3px;
    display: inline-block;
}

#info {
    background-color: #a9442c;
    padding: 5px 20px;
}

#apning {
    background-color: #953c27;
    padding: 5px 20px;

}

.apningp {
    display: block;
    margin: 0px;
    margin-bottom: 3px;
}