@import url("main.css");

#social-nav-bot {
    background-color: #e65d3c;
    text-align: center;
    position: relative;
    bottom: 0px;
    z-index: 1;
}

.social-nav {
    background-color: #b04930;
    height: 68px;
    text-align: center;
}

.social-nav ul, #social-nav-bot ul {
    margin: 0px;
    padding: 0px;
    height: 68px;
}

.social-nav ul li, #social-nav-bot ul li {
    height: 28px;
    list-style: none;
    display: inline-block;
    padding: 20px 11%;
}

#social-nav-bot ul li {
    padding: 20px 12%;
}



.social-nav ul li:nth-child(1),
.social-nav ul li:nth-child(2),
#social-nav-bot ul li:nth-child(1),
#social-nav-bot ul li:nth-child(2){
    border-right: 1px #963e29 solid;
}

.social-nav ul li a, #social-nav-bot ul li a {
    color: white;
    text-decoration: none;
    font-size: 10pt;
}

#social_post #social_header img {
    position: relative;
    left: 14px;
    top: 12px;
}

#social_header {
    background-color: #382420;
    height: 60px;
}

#social-container {
    height: 877px;
    overflow-y: scroll;
}

#social_post #social_header h3 {
    font-size: 10pt;
    color: white;
    margin: 0px;
    padding: 22px;
    display: inline-block;
}
.post-img{
    width: 100%;
}

.social_info{
    clear:both;
    margin-bottom:100px;
}

.social_stats_right{
    float:right;
}
.social_stats_left{
    float:left;
}

.social_stats_left > p {
    margin-left: 10px;
}

.social_stats_left .like-stats{
    margin-right:100px;
}
.social_stats_right .comment-stats{
    margin-right:20px;
}

.comment_icon {

    background-image: url("../assets/comment_icon.png");
    background-repeat: no-repeat;
    width:33px;
    height:33px;
    display: inline-block;
    position: relative;
    top:5px;
    right: 10px;

}

.like_icon {

    background-image: url("../assets/heart_icon.png");
    background-repeat: no-repeat;
     width:33px;
   height:33px;
   display: inline-block;
   position: relative;
    top:5px;
    right: 10px;

}

.social_stats_right p {
    display: inline-block;
}