@import url("main.css");



#social_post #social_header img {
    position: relative;
    left: 14px;
    height: 25px;
}

#social_header {
    background-color: #382420;
    height: 45px;
}

#container {
    position: relative;
    height: 75%;
    overflow-y: scroll;
}

#social_post #social_header h3 {
    font-size: 10pt;
    color: white;
    margin: 0px;
    padding: 22px;
    display: inline-block;
}
.post-img{
    width: 100%;
}

.social_info{
    clear:both;
    margin-bottom:100px;
}

.social_stats_right{
    float:right;
    font-size: 12px;
}
.social_stats_left{
    float:left;
}

.social_stats_left > p {
    margin-left: 10px;
    font-size: 12px;
}

.like-stats {
    margin-top: 5px;
}

.social_stats_left .like-stats{
    margin-right:100px;
}
.social_stats_right .comment-stats{
    margin-right:20px;
}

.comment_icon {

    background-image: url("../assets/comment_icon.png");
    background-repeat: no-repeat;
    background-size: 20px;
    width:33px;
    height:33px;
    display: inline-block;
    position: relative;
    top:5px;
    right: 10px;

}

.like_icon {

    background-image: url("../assets/heart_icon.png");
    background-repeat: no-repeat;
    background-size: 20px;
     width:33px;
   height:33px;
   display: inline-block;
   position: relative;
    top:5px;
    right: 10px;

}

.social_stats_right p {
    display: inline-block;
}