@import url("main.css");

.treningsmeny {
    height:30%;
    width: 49.47%;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}

.treningsmeny p {
    position: relative;
    margin-top: 85px;
    background: rgba(250,250,250,0.5);
    padding: 20px 0;
    color: #1b1b1b;
}

.ovelser {
    background-image: url("../assets/ovelser.png");


}

.treningsprogram {
    background-image: url("../assets/treningsplan.png");


}



.pt {
    background-image: url("../assets/personligtrener.png");


}

.treningssenter {
    background-image: url("../assets/treningssenter.png");


}