@import url("main.css");

.treningsmeny {
    height:31%;
    width: 49.65%;
    display: inline-block;
    margin-bottom: 5px;
    text-align: center;
}

.treningsmeny p {
    position: relative;
    margin-top: 135px;
    background: rgba(250,250,250,0.5);
    padding: 20px 0;
    color: #1b1b1b;
}

.ovelser {
    background-image: url("../bilder/trening_ovelser.jpg");


}

.treningsprogram {
    background-image: url("../bilder/trening_program.jpg");


}

.kosthold {
    background-image: url("../bilder/trening_kosthold.jpg");


}

.pt {
    background-image: url("../bilder/trening_pt.jpg");


}

.treningssenter {
    background-image: url("../bilder/trening_treningssenter.jpg");


}