@import url("main.css");

.treningsmeny {
      width: 49%;

    display: block;
    float: left;
    margin-bottom: 5px;
    text-align: center;
    background-color: #414040;
    margin-right: 0px;
}



#meny:nth-child(odd) .treningsmeny {
    margin-right: 1%;
}

.treningsmeny p {
    position: relative;
    margin-top: 70%;
    padding: 20px 0;
    color: white;
}

.ovelser, .treningsprogram, .pt, .treningssenter {
    background-repeat: no-repeat;
    background-position: 50%  60px;
}

.ovelser {
    background-image: url("../assets/ovelser.png");
}

.treningsprogram {
    background-image: url("../assets/treningsplan.png");
}


.pt {
    background-image: url("../assets/personligtrener.png");


}

.treningssenter {
    background-image: url("../assets/treningssenter.png");
}

